* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #02ac82;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/*..header..*/

.header {
    height: 80px;
    background-color: black;
}

.header img {
    margin-left: 35px;
    margin-top: 10px;
    height: 60px;
}

.button {
    margin-right: 0px;
    margin-top: 25px;
}

.submit {
    border: none;
    color: white;
    height: 30px;
    width: 150px;
    font-size: 15px;
    border-radius: 6px;
    background-color: #007b5d
}

.button-margin {
    margin-right: 80px;
}

/*..end header*/

/* Rongtuli*/

.background {
    background-image: url('../images/BG.jpg');
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}

.image img {
    height: 320px;
    position: absolute;
    top: 30%;
    left: 30%;
}

/* change the menu background color */

.navbar-custom {
    background-color: #02ac82;
    height: 60px;
    margin-top: 20px;
}

.navbar-nav li {
    padding-left: 8px;
}

/*dropdown*/

.dropdown {
    color: white;
}

.dropbtn {
    background-color: #02ac82;
    font-size: 16px;
    border: none;
    display: block;
    margin-top: 4px;
}
.dd-webelement{
    background-color: rgba(225,225,225,0.7);
}

.dropdown-content li a {
    color: black;
    padding: 2px;
    font-size: 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #02ac82;
    
}

.dropdown-toggle::after {
    display: none;
}

/*..end dropdown*/

/*text animation*/

.text {
    color: #4590bf;
    position: absolute;
    left: 65%;
    top: 66%;
}

.font {
    font-size: 55px;
    margin-left: 20px;
    font-family: Bookman, URW Bookman L, serif;
    -webkit-animation-duration: 4s;
}

.fontone {
    font-size: 35px;
    margin-left: 14px;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    font-family: Apple Chancery, cursive;
}

.blue-hr {
    background-color: #4590bf;
    width: 320px;
}

/* 2nd session..*/

.second-session {
    height: 460px;
    margin-top: 18px;
}

.slider {
    background-image: url("../images/slider.png");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}
/*
.testimonials {
    position: relative;
}
*/
.testimonials:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ddd;
}
.testimonials{
    margin-top: 80px;
}

#customers-testimonials .item {
    /*text-align: right;*/
    /*shuvo*/
    height: 300px;
    width: 485px;
    /*margin-top: 60px;*/
}

.owl-carousel .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    margin-top: 30px;
}

.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}
/*
.owl-carousel {
    position: absolute;
    left: 15%;
}
*/
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    font-size: 20px;
    color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}

.owl-carousel .owl-prev {
    left: -70px;
}

.owl-carousel .owl-next {
    position: absolute;
    left: 77%;
}
/* Shuvo */
.Text-align-center{
    text-align: center;
}
.text-font {
    color: #b8b8b6;
    font-size: 48px;
    /*margin-left: 100px;*/
    margin-top: 80px;
}

#text {
    color: #b8b8b6;
   /* margin-left: 100px; */
    font-size: 23px;
    margin-top: 30px;
}

.browse-button {
    /*margin-left: 150px;*/
    background-color: #1b4a71;
    color: #b8b8b6;
    border: none;
    height: 46px;
    width: 300px;
    margin-top: 15px;
    font-size: 22px;
}

.secondsession-half {
    background-color: #02ac82;
    height: 340px;
    padding-top: 20px;
}

.designs {
    background-image: url("../images/slidertwo.png");
    height: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.img-position {
    margin-top: 15px;
    /*margin-left: 170px;*/
}


p.first-description {
    color: #b8b8b6;
    /*margin-left: 100px;*/
    margin-top: 20px;
}

p.second-description {
    color: #b8b8b6;
    /*margin-left: 100px;*/
    margin-top: 20px;
}

p.third-description {
    color: #b8b8b6;
    /*margin-left: 100px;*/
    margin-top: 15px;
}

.third-session {
    height: 500px;
    background-color: #0f2034;
}

h2 {
    color: #e1e0dd;
    margin-left: 240px;
    padding-top: 40px
}

.img-size {
    width: 200px;
    height: 300px;
    margin-top: 40px;
}

/*1st footer*/

.footer-one {
    height: 680px;
    height: 100vh;
    background-image: url(../images/footer.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.footer-text {
    color: #cdcdcd;
    font-size: 40px;
    margin-top: 60px;
    margin-left: 110px;
}

.footer-des {
    color: #cdcdcd;
    font-size: 17px;
    margin-left: 110px;
}

.cltn img {
    height: 46px;
    margin-left: 160px;
}

.cltn {
    color: #cdcdcd;
    font-size: 25px;
    margin-top: 30px;
}

.address {
    color: #cdcdcd;
    font-size: 17px;
    margin-left: 197px;
}

.contact {
    font-size: 25px;
    color: #e0dede;
    border: 1px solid #56b0a9;
    background-color: #56b0a9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 10px 10px 10px #999797 ;
}

.contact-border {
    height: 60px;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    border-radius: 6px;
    position: relative;
    top: 10%;
    left: 20%;
}

.contact-form {
    background-color: rgba(202, 201, 201, 0.8);
    width: 400px;
    height: 420px;
    margin-left: 80px;
}

.input-text {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    width: 130px;
    margin-top: 120px;
    margin-left: 35px;
}

.message-text {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    width: 350px;
    margin-top: 60px;
    margin-left: 35px;
}

.email-text {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    width: 350px;
    margin-top: 35px;
    margin-left: 35px;
}

.message-button {
    border: 1px solid #56b0a9;
    background-color: #56b0a9;
    color: #e0dede;
    height: 40px;
    width: 170px;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: 213px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
::placeholder {
    color:black;
    opacity: 1;
}
/*end 1st footer/*/

/*last footer*/

.footer-second {
    height: 570px;
    background-color: #2f2f2f;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.about {
    font-size: 38px;
    color: #d0d2d2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 120px;
    margin-left: 150px;
}

.about-text {
    color: #d0d2d2;
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-left: 150px;
}

.terms {
    color: #d0d2d2;
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 120px;
    padding-bottom: 25px;
    margin-left: 100px;
}

.term-link {
    color: #d0d2d2;
    padding: 2px;
    font-size: 21px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    left: 100px;
}

.term-hr {
    background-color: #707070;
    width: 400px;
    margin-left: 100px;
}
.last-session{
    height:38px;
    background-color: black;
  
}
.copyright{
    font-size:18px;
    color: #d0d2d2;
    margin-left: 390px;
   padding-top: 8px;
   font-family:  Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 576px) {
    /*header*/
    .header img {
        margin-left: auto;
        height: 40px;
        margin-top: 18px;
    }
    .submit {
        width: 120px;
        font-size: 14px;
    }
    .button-margin {
        margin-right: 0px;
    }
    .background {
        background-position: center;
    }
    .font {
        font-size: 20px;
    }
    .fontone {
        font-size: 12px;
    }
    .blue-hr {
        width: 120px;
    }
    .image img {
        height: 150px;
        position: absolute;
        top: 45%;
        left: 15%;
    }
    .navbar-nav {
        background-color: #02ac82;
    }
    .navbar-nav li {
        background-color: #02ac82;
        padding-top: 4px;
        z-index: 3;
    }
    /*end header*/
    .second-session {
        
        height: 800px;
        
    }
    /*start Slider carousel*/
    #customers-testimonials .item {
        /*shuvo*/
        height: 190px;
        width: 300px;
    }
    .owl-carousel .owl-nav [class*='owl-'] {
        margin-top: 0;
    }
    .testimonials {
        margin-top: 10%;
        margin-top: 10%;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .owl-carousel .owl-next {
        left: 95%;
    }
    .owl-carousel .owl-prev {
        left: -10%;
    }
    /*end Slider carousel*/

    /*start second session*/
    .designs {
        height: auto;
    }
    .secondsession-half {
        height: auto;
    }
    /*end second session*/
}

@media (max-width: 768px) {}

@media (max-width: 992px) {}

@media (min-width: 1200px) {}